@using Blazored.LocalStorage
@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject ILocalStorageService LocalStorage
@rendermode InteractiveServer

<script src="jsInterop.js"></script>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <button @onclick="ExitFromAcc">Выйти из системы</button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {

    private async Task ExitFromAcc()
    {
        await LocalStorage.ClearAsync();
        Navigation.NavigateTo("/auth");
        StateHasChanged();
    }

}