<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">COBRO ADMIN</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Главная
            </NavLink>
        </div>
    </nav>

    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/books" Match="NavLinkMatch.All">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Бронирования
            </NavLink>
        </div>
    </nav>

    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/scan-qr" Match="NavLinkMatch.All">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Сканировать
            </NavLink>
        </div>
    </nav>

    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/history" Match="NavLinkMatch.All">
                <span class="bi bi-box-nav-menu" aria-hidden="true"></span> История
            </NavLink>
        </div>
    </nav>
</div>